.page-container {
  display: grid;
  position: relative;
  grid-template-columns: 5vw repeat(12, 1fr) 5vw;
}

.nav-container {
  grid-column: 1/15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: rebeccapurple;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.7);
  color: white;
}

.section-container {
  grid-column: 1/15;
}

.header-wrapper {
  margin: 5vh 15vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-main > .header-title {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 10px;
}

.header-date,
.header-goals {
  flex: 1 1 50%;
}

.header-goals {
  padding-left: 5vw;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5vh 15vw;
}
